body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.countdown-background {
  background-image: url("../images/2400x1600/background-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
}

.countdown-background-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right bottom, rgba(8, 27, 44, 0.90) 50%, rgba(8, 27, 44, 0.855) 50%);
}

.information-container {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  text-align: center;
}

.countdown-logo {
  width: 15%;
}

p {
  font-family: garamond-premier-pro, serif;
  font-style: normal;
  font-weight: 500;
  color: #997E49;
  letter-spacing: 2px;
  font-size: 25px;
  margin: 60px 0 0 0;
}

#countdown {
  font-size: 50px;
  margin-top: 0 !important;
}

@media screen and (max-width: 1024px) {
  .countdown-logo {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .countdown-logo {
    width: 60%;
  }
  p {
    font-size: 20px;
  }

  #countdown {
    font-size: 40px;
  }
}
